<!-- login.ejs -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./IMG/logo.png">
    <title>Form Validation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/sign.css">
    <script defer src="./js/script1.js"></script>
</head>
<body style="background: url(./IMG/bgimage.jpg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
        <a href="/login" class="logo"><i class="fas fa-bread-slice"></i>User</a>
        <form id="form1" method="post" action="/login">
            <h1>Administrator</h1>
            <h1>Login</h1>
            
            <div class="input-control">
                <input id="username" name="username" type="text" placeholder="Username" class="box">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <input id="password"name="password" type="password" placeholder="Password" class="box">
                <div class="error"></div>
            </div>
            <div class="but">
            <button type="submit" >Log In</button>
            </div>
            <div class="last">
                <br><br>
            </div>
        </form>
    </div>
</body>
</html>
