
<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./IMG/logo.png">
    <title>E-CANTEEN</title>
    <link rel="icon" type="image/x-icon" href="./IMG/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./css/ui.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fas fa-bread-slice"></i>NET CAFE</a>
        <nav class="navbar">
            <div id="nav-close" class="fas fa-times"></div>
            <a href="#home">home</a>
            <a href="#category">categories</a>
            <a href="#about">about us</a>
            <a href="#contact">contact</a>
        </nav>
        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div> 
            <div id="search-btn" class="fas fa-search"></div>
          
        </div>
        <nav class="navbar">
          <h2>Welcome</h2><h2><%= username %></h2>
          <a href="/logout">Logout</a>
        </nav>
    </header>

    <div class="search-form">
        <div id="close-search" class="fas fa-times"></div>
        <form action="">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>

    <section class="home" id="home">
   
        <div class="wrapper">
           
                <div class="box" style="background: url(./IMG/fresh-gourmet-meal-beef-taco-salad-plate-generated-by-ai.jpg) no-repeat;">
                <div class="content">
                    <span>never stop</span>
                    <h3>CRAVING</h3>
                    <p>“You don’t need a silver fork to eat good food.” – Paul Prudhomme</p>
                    <a href="#category" class="btn" style="background-color: black;color:#f5f5f5">Order Now</a>
                </div>
                </div>  
        </div>
    </section>

    <!-- Category section -->

    <section class="category" id="category">

        <h1 class="heading">categories</h1>
    
        <div class="box-container">
    
            <div class="box">
                <img src="./IMG/4 Day Trip in Kerala, India - The Best Kerala Itinerary - Travelling Foodie (1).jpeg" alt="BungeeJumpingImg">
                <h3>main couse</h3>
                <p> A main course is the featured or primary dish in a meal consisting of several courses and food that is served as the main dish in a multi-course meal.</p>
                <a href="./desserts.html" class="btn">Explore</a>
            </div>
    
            <div class="box">
                <img src="./IMG/Top Indian Breakfast recipes.jpeg" alt="ZipLinesImg">
                <h3>Snacks</h3>
                <p>a snack is a small portion of food that is smaller than a regular meal, generally consumed between meals.</p>
                <a href="./desserts.html" class="btn">Explore</a>
            </div>
    
            <div class="box">
                <a href="./desserts.html"><img src="./IMG/_Strawberry Waffle Stack, With Cream Being Poured Over It__ by Stocksy Contributor _Darren Muir_.jpeg" alt="canoeingImg"></a>
                <h3>Desserts</h3>
                <p>Dessert is something that is generally served last in a 5 course meals for sweet tooths and can be in liquid or solid form.</p>
                <a href="./desserts.html" class="btn">Explore</a>
            </div>
    
        </div>
    
    </section>
    <section class="packages" id="packages">

        <h1 class="heading">popular menu's</h1>
    
        <div class="box-container">
    
            <div class="box">
                
                <div class="image">
                    <img src="./IMG/The Best Restaurants in Colombo Sri Lanka.jpeg  " alt="">
                </div>
                <div class="content">
                    <h3>dosa</h3>
                    <p><b>#top seller</b></p>
                    <p>A dosa is a thin savory crepe in South Indian cuisine made from a fermented batter of ground black lentils and rice.Dosa is a signature dish in South India</p>
                    <div class="price">Rs 50</div>
                    <a href="#" class="btn">Order now</a>
                </div>
            </div>

    
            <div class="box">
                <div class="image">
                    <img src="./IMG/Essence of Life - Food_ KERALA SADHYA VIBHAVANGAL.jpeg" alt="">
                </div>
                <div class="content">
                    <h3>south indian meals</h3>
                    <p><b>#top seller</b></p>
                    <p>Rice is the much-loved food of South Indians The day begins and ends with steaming hot rice,which is enjoyed in different ways.The rice is relished with soupy rasam or spicy sambar.
                    </p>
                    <div class="price">Rs 100</div>
                    <a href="#" class="btn">Order now</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="./IMG/Egg Fried Rice Easy College Student Recipe Photography.jpeg" alt="">
                </div>
                <div class="content">
                    <h3>Egg fried rice</h3>
                    <p><b>#top seller</b></p>
                    <p>Fried rice is a dish of cooked rice that has been stir-fried in a wok or a frying pan and is usually mixed with other ingredients such as eggs, vegetables, seafood, or meat.</p>
                    <div class="price">Rs 150</div>
                    <a href="#" class="btn">Order now</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="./IMG/Indomie Instant Noodles.jpeg" alt="">
                </div>
                <div class="content">
                    <h3>Spicy veg noodles</h3>
                    <p><b>#top seller</b></p>
                    <p>Noodles are a type of food made from unleavened dough which is either rolled flat and cut, stretched, or extruded, into long strips or strings. Noodles are a staple food in many cultures</p>
                    <div class="price">Rs 150</div>

                    <a href="#" class="btn">Order now</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="./IMG/Ultrasonic Sandwich Cutter.jpeg" alt="">
                </div>
                <div class="content">
                    <h3>Chilly panner toast</h3>
                    <p><b>#top seller</b></p>
                    <p>This no-cooking Paneer Sandwich recipe is made with plain paneer, tomatoes, cucumbers, onions, chutneys, and spices. This easy Indian sandwich comes together in no time and makes a great lunch.</p>
                    <div class="price">Rs 65</div>
                    <a href="#" class="btn">Order now</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="./IMG/Collections.jpeg" alt="">
                </div>
                <div class="content">
                    <h3>opera choco milkshake</h3>
                    <p><b>#top seller</b></p>
                    <p>It is described in Adam Reid’s Thoroughly Modern Milkshakes as “the sweet frosty amalgams of ice cream, milk, syrup, and pure joy loved by young and old and everyone in between".</p>
                    <div class="price">Rs 120 </div>
                    <a href="#" class="btn">Order now</a>
                </div>
            </div>
    
        </div>
    
    </section>
    <section class="about" id="about">
        <div class="abt">
            <h1>About Us</h1>
            <p>Our online canteen system project is at the forefront of revolutionizing the food service industry. We've created a user-friendly platform that connects users to a diverse menu of culinary options, guaranteeing a delightful dining experience for all. Our commitment to quality is unmatched, with partnerships that prioritize fresh, delicious meals.

                We're equally committed to sustainability, implementing eco-friendly practices from packaging to delivery. Timeliness is key to our service, ensuring prompt deliveries for your convenience. We continually enhance our platform for an efficient ordering process.
                
                Our project's success is founded on customer trust. We're excited to be part of your culinary journey, providing delicious meals at your fingertips. Thank you for choosing us as your trusted source for delectable, convenient dining in the digital age.</p>
                
        </div>

    </section>
    <section class="contact" id="contact">
    
        <div class="wrapper1">
            <div class="title1">
              <h1>Contact us</h1>
            </div>
            <div class="contact-form">
                <form method = "post" action = "">
              <div class="input-fields">
                
                <input type="text" class="input"  placeholder="Name" name="name">
                <input type="email" class="input"  placeholder="Email Address" name="email" pattern=".+@gmail\.com">
                <input type="phone" class="input"  placeholder="Phone" name="phone">
                <input type="text" class="input"  placeholder="Subject" name="subject">
              </div>
              <div class="msg">
                <textarea placeholder="Message" name="message"></textarea> <br>
                <div class="btn1"><button type="submit">send <i class="uil uil-message"></i></div>
              </div>
              </form>
            </div>
            </div> 
        
        </section>
        <section class="footer">
    
            <div class="box-container">
        
                <div class="box">
                    <h3>Quick links</h3>
                    <a href="#home">home</a>    
                    <a href="#packages">popular menu</a>
                    <a href="#contact">contact us</a>
                </div>
        
                <div class="box">
                    <h3>extra links</h3>
                    <a href="#contact">ask questions</a>
                    <a href="#">terms of use</a>
                    <a href="#">privacy policy</a>
                </div>
        
                <div class="box">
                    <h3>contact info</h3>
                    <a href="tel:+91 1234567890"> <i class="fas fa-phone"></i> +91 1234567890</a>
                    <a href="mailto: netcafeadmin@gmail.com"> <i class="fas fa-envelope"></i> netcafeadmin@gmail.com </a>
                    <a href="#"> <i class="fas fa-map"></i> coimbatore, india - 641910 </a>
                </div>
        
                <div class="box">
                    <h3>follow us</h3>
                    <a href=""> <i class="fab fa-facebook-f"></i> facebook </a>
                    <a href=""> <i class="fab fa-instagram"></i> instagram </a>
                    <a href=""> <i class="fab fa-linkedin"></i> linkedin </a>
                </div>
            </div>
        </section>
   
    <script src="./js/ui js.js"></script>
</body>
</html>


